.menuLinkButton {
  position: relative;

  &::after {
    position: absolute;
    width: 3px;
    height: 100%;
    top: 0;
    right: -8px;
    background-color: var(--accent);
    content: "";
  }
}

.menuLinkText {
  color: var(--accent);
  font-weight: 600;
}
