.menuLinkButton {
  position: relative;
  color: var(--accent);

  &::before {
    position: absolute;
    width: 2px;
    height: 100%;

    left: 0;
    background-color: var(--accent);
    content: "";
  }
}

.menuLinkText {
  color: var(--accent);
}
